@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(/Fonts/Poppins.woff2) format('woff2');
}
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url(/Fonts/Oswald.woff2) format('woff2');
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url(/Fonts/Quicksand.woff2) format('woff2');
}
.hide
{
    display: none;
}

body
{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url("bg.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.header
{
    display: flex;
    position: fixed;
    z-index: 3;
    height: 90px;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.header button
{
    display: flex;
    background-color: unset;
    border: 0px;
    margin: 10px;
}

.content
{
    z-index: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
}

.page
{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centar
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.header-ele
{
    color: white;
}

@media (max-width:369px) {
    .name
    {
        font-size: 20px;
    }
}
.name
{
    font-family: 'Poppins','ExtraLight';
    text-align: center;
    font-size: clamp(2.5rem, 1.0774rem + 3.7936vw, 3rem);
    color: red;
}

.para
{

    font-family: 'Oswald', 'Oswald-ExtraLight';
    font-style: normal;
    font-weight: 50;
    text-align: center;
    font-size: 25px;
    color: rgb(174, 174, 202);
    padding-top: 7px;
    opacity: .50;
}


.dp-p
{
    margin: 5px;
    width: 60px;
    height: 60px;
    border: 5px solid;
    border-radius: 90px;
    border-color: rgb(0, 0, 0);
}

.dp
{
    width: 120px;
    height: 120px;
    border: 5px solid;
    border-radius: 90px;
    border-color: rgb(0, 0, 0);
}



.buttons-insta, .buttons-li, .buttons-gh, .buttons-x {
    width: calc(100% - 50px);
    max-width: 350px;
    height: calc(100% - 60px);
    padding: 2px;
    max-height: 60px;
    border: 5px solid;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    opacity: 0.88;
    font-family: 'Quicksand';
    color: rgba(255, 255, 255, 0.845);
    font-weight: 900;
}

.buttons-insta {
    border-color: #f536b7;
    background-color: #8f3c75;
}

.buttons-li {
    border-color: #0072b1;
    background-color: #91c7e6;
}

.buttons-gh {
    border-color: #171515;
    background-color: #635f5f;
}

.buttons-x {
    border-color: #00acee;
    background-color: #b5d8e6;
}

a
{
    text-decoration: none;
    color: white;
}

#links
{
    flex-direction: column;
}

.profile
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 700px;
    padding: 10px;
}

@media (max-width: 420px) 
{
    .header
    {
        justify-content: space-between;
    }
    .badge
    {
        padding-top: 90px;
    }
}

@media (max-width: 570px) and (min-width: 400px)
{
    .badge
    {
        padding-top: 35px;
    }
}

@media (max-width: 399px)
{
    .badge
    {
        padding-top: 40px;
    }
}

#badges
{
    
    overflow-y: auto;
    overflow-x: hidden;
}

.badge
{
    height: calc(99vh - 90px);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.badge a
{
    display: flex;
    height: 240px;
    margin: 20px;
    width: 150px;
    background-color: white;
    border-radius: 3px;
}
