
.hide
{
    display: none;
}

body
{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.header
{
    display: flex;
    position: fixed;
    z-index: 3;
    height: 90px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.header a
{
    margin: 10px;
}

.content
{
    z-index: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
}

.page
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centar
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

a
{
    text-decoration: none;
    color: white;
}

.name
{
    font-family: 'Poppins', 'ExtraLight';
    font-weight: 500;
    text-align: center;
    font-size: 50px;
    color: red;
}

.para
{

    font-family: 'oswald', 'Oswald-ExtraLight';
    font-style: normal;
    font-weight: 50;
    text-align: center;
    font-size: 25px;
    color: rgb(174, 174, 202);
    padding-top: 7px;
    opacity: .50;
}


.dp-p
{
    width: 60px;
    height: 60px;
    border: 5px solid;
    border-radius: 90px;
    border-color: rgb(0, 0, 0);
}

.dp
{
    width: 120px;
    height: 120px;
    border: 5px solid;
    border-radius: 90px;
    border-color: rgb(0, 0, 0);
}

.buttons-insta,
.buttons-li,
.buttons-gh,
.buttons-x {
    width: 350px;
    height: 60px;
    border: 5px solid;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    background-color: brown;
    opacity: 0.88;
    font-family: 'Quicksand';
    font-weight: 900;
}

.buttons-insta {
    border-color: #f536b7;
    background-color: #8f3c75;
}

.buttons-li {
    border-color: #0072b1;
    background-color: #91c7e6;
}

.buttons-gh {
    border-color: #171515;
    background-color: #635f5f;
}

.buttons-x {
    border-color: #00acee;
    background-color: #b5d8e6;
    opacity: 0.99;
    padding-bottom: 5px;
}

#links
{
    flex-direction: column;
}

.profile
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 460px) 
{
    .header
    {
        justify-content: space-between;
    }
}

.issuer
{

    font-family: 'Sometype Mono';
    font-style: italic;
    font-weight: 200;
    font-size: 14px;
    color: #00000098;
}

#badges
{
    
    overflow-y: auto;
    overflow-x: hidden;
}

#badges a
{
    display: flex;
    height: 240px;
    margin: 20px;
    width: 150px;
    background-color: white;
    border-radius: 3px;
}

.badge p
{
    display: flex;
    padding: 8px;
    color: rgba(0, 0, 0, 0.799);
}

.badge
{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.badge img
{
    display: flex;
    height: 130px;
    width: 130px;
    margin-top: 10px;
    margin: 8px;
}

.big-data-badge
{
    display: flex;
    height: 270px;
    width: 150px;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    background-color: white;
    border-radius: 3px;
}

.cloud-badge
{
    display: flex;
    height: 270px;
    width: 150px;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    background-color: white;
    border-radius: 3px;
}

.python-badge
{
    display: flex;
    height: 270px;
    width: 150px;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    background-color: white;
    border-radius: 3px;
}